<!-- variable part specific to home page -->
<h1>Social Media / <%= title %></h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id= "new-post-form" method = "POST">
        <textarea name = "content" cols = "30" placeholder="Type here..." rows="3" required></textarea>
        <input type="submit" value ="Post">
    </form>

    <!-- Displaying Posts -->
    <div id="post-list-container">
        <ul>
            <% for(post of posts) { %>
                <p>
                    <li>
                        <%= post.content %> <br>
                         <small><%= post.user.name %></small>
                    </li>
                </p>
            <% } %>
        </ul>
    </div>
</section>