<link rel="stylesheet" href="/css/user_profile.css">
<!-- variable part specific to user_profile page -->
<h1>Social Media / Profile Page </h1> 

<p>Name: <%= user.name %></p>
<p>Name: <%= user.email %></p>